<?xml version="1.0"?>

<!-- Launch this command on the hardware robot via ssh before : roslaunch minilab_launch minilab_driver_camera.launch -->

<launch>
	<node pkg="minilab_teleop" type="keyboard_teleop_ZQSD" name="keyboard_teleop_ZQSD"  output="screen"/>

	<node pkg="rqt_image_view" type="rqt_image_view" name="viewer" />
</launch>
