<?xml version="1.0"?>

<launch>
	<arg name="sensor_type" default="hokuyo" /> <!-- "camera" if no hokuyo available -->
	<include file="$(find minilab_launch)/launch/minilab_driver_$(arg sensor_type).launch" />
	
	<!-- replace the .yaml file by your own map build with gmapping previously and saved with map_server -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(find minilab_navigation)/map/couloir.yaml" />
	<include file="$(find minilab_navigation)/launch/minilab_move_base.launch" />
	<include file="$(find minilab_navigation)/launch/minilab_amcl.launch" />
</launch>
