<?xml version="1.0"?>

<launch>
	<arg name="map" default="buvette" />
	<include file="$(find minilab_simulation)/launch/minilab_simulation.launch" >
		<arg name="map" value="$(arg map)" />
	</include>

	<node pkg="minilab_teleop" type="keyboard_teleop_ZQSD" name="keyboard_teleop_ZQSD" output="screen"/>
	
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find minilab_demo_simulation)/laser.rviz" />
</launch>
