<?xml version="1.0"?> 

<launch>
  <!-- Move base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
	<rosparam file="$(find minilab_navigation)/config/global_costmap_params.yaml" command="load" ns="global_costmap" />
	<rosparam file="$(find minilab_navigation)/config/costmap_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find minilab_navigation)/config/move_base_params.yaml" command="load" />
  </node>
</launch>
